body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

.course-card-title {
    text-decoration: none ;
    color:navy ;
    font-weight: bold;
}

.course-card-width {
    width: 300px !important;
}