body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

.course-card-title {
    text-decoration: none ;
    color:navy ;
    font-weight: bold;
}

.course-card-width {
    width: 300px !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
  }
.border-grey .bg-secondary {
    background-color: #c7cdd1 !important;
  }
  .border-grey {
    border: 1px solid gray;
  }
  
  .btn-tertiary {
    --bs-btn-color: black !important; 
    --bs-btn-bg: rgb(187, 194, 199) !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: gray !important;
  }

  .assignment-list {
    color:black;
    background-color: white;
    border-left: 3px solid green !important;
  }

  .everyone-chip {
    width: 130px;
    height: 30px;
    border-radius: 4px;
    padding-left: 12px;
    background-color: lightgrey;
  }